:root {
  color-scheme: dark;
}

body {
  font-family: "Open sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(#313131, #212121);
  color: rgb(236, 236, 236);
  font-size: 16px;
  background-attachment: fixed;
}

#root {
  margin-left: 50px;

  @media screen and (max-width: 480px) {
    margin-left: 0px;
  }
}

.header {
  color: rgb(180, 180, 180);
  padding: 20px;
  display: flex;
  width: calc(100% - 40px);

  @media screen and (max-width: 480px) {
    width: calc(100% - 40px);
  }

  .left {
    flex: auto;
  }

  h1 {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
  }

  button {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #b4b4b4;
    font-size: 18px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
  }
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  height: calc(100vh - 430px);
  margin-bottom: 50px;
  overflow-y: auto;

  @media screen and (max-width: 480px) {
    height: calc(100vh - 490px);
  }
}

.up .chat-box{
  height: 200px;

  @media screen and (max-width: 480px) {
    height: 0px;
  }
}

.message {
  padding: 10px 20px;
  border-radius: 9999px;
  max-width: 80%;
  word-wrap: break-word;
  margin-left: 15px;
}

.user {
  background-color: rgba(50, 50, 50, 0.85);
  align-self: flex-end;
  margin-right: 15px;
}

.bot {
  align-self: flex-start;
}

.input-container {
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.mid {
  max-width: 630px;
  margin: auto;
}

.input {
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #303030;
  margin: 0 15px;
}

.yee {
  height: 133px;
  overflow-y: auto;
}

.instruction {
  font-size: 14px;
  padding: 5px 0px 15px 5px;
  color: rgb(180, 180, 180);
}

.input-box {
  display: flex;
  flex-wrap: wrap;

  button{
    padding: 10px;
    color: rgb(180, 180, 180);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px 15px 0 0;
    border-radius: 9999px;
    font-size: 13px;
    font-weight: 600;
    background-color: inherit;

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    &:hover {
      background-color: rgb(66, 66, 66);
      cursor: pointer;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgb(23, 23, 23);
  z-index: 10;
  width: 50px;
  height: 100vh;
  text-align: center;
  
  @media screen and (max-width: 480px) {
    height: 60px;
    width: 100%;
  }

  .ctn {
    position: absolute;
    bottom: 0px;
    left: 0px;

    @media screen and (max-width: 480px) {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    a {
      color: #10a37f;
      margin: 15px;
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: flex-end;
      width: 20px;
      height: 27px;

      &:last-child {
        margin-top: 20px;
      }

      @media screen and (max-width: 480px) {
        align-items: center;

        &:last-child {
          margin-top: 15px;
        }
      }
    }
  }
}

.loader {
  color: #eee;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
  margin: 34px auto;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-border-radius: 100px;
}
 
::-webkit-scrollbar-thumb:vertical {
  background: #454545;
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  min-height: 10px;
}
